

body {
  background-color: #262525;
}

.ui.fixed.menu {
  background-image: #141414;
}
.ui.main.container {
  margin-top: 7em;
}
.masthead{
  display: flex;
  align-items: center;

  background-color: #3b3424;
}
.masthead h1.ui.header{
  font-size: 4em;
  
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(76, 107, 138, 0.15);
}

.followButtonProfile {
  color: #079fe2
}

.profileHead {
  display: flex;
  align-items: center;

  background-color: #262525;
  height: 100%;
}


